.setting-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    .setting-nickname {
        
    }

    .setting-limit {

    }

    .setting-breed {

    }
}