.homepage-background-container {
    .homepage-container {
        
        .row {

        }
    }

    .homepage-battle {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}