.headline-container {
  min-width: 525px;
  font-family: "Montserrat", sans-serif;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 4em;

  .headline-header {
    font-size: 80px;
    font-weight: 500;
    margin-top: 1em;
  }
  .headline-user {
    color: #e040fb;
    font-size: 45px;
    font-weight: 1000;
  }
  .headline-description {
    margin: 2em 0;
    text-align: center;

    .headline-description-title {
      font-size: 50px;
      font-weight: 600;
      color: $lightblue;
    }

    .headline-description-content {
      font-size: 35px;
    }
  }
}
