.joinform-container {
  width: 100%;
  min-height: 40vh;
  display: flex;
  flex-direction: column;

  .joinform-header {
      display: block;
      width: 100%;
      text-align: center;

      .joinform-title {
          font-size: 30px;
          font-weight: 500;
      }
  }

  .joinform-content  {
    text-align: center;
    display: block;
    
  }

  .joinform-content input {
    padding: 24px 16px 8px 16px;
    font-size: 18px;
  }

  .joinform-content button {
    font-size: 25px;
    background-color: $lightviolet;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 1rem 4rem;
    margin: 2rem 4rem;
    
  }
}
